[MASTER]
ignore=migrations,tests,venv,env
ignore-patterns=test_.*?\.py,.*_tests\.py

[MESSAGES CONTROL]
disable=
    C0111,  # missing-docstring
    C0103,  # invalid-name
    R0903,  # too-few-public-methods
    R0913,  # too-many-arguments
    W0212,  # protected-access
    C0330,  # bad-continuation
    C0326,  # bad-whitespace

[FORMAT]
max-line-length=120
indent-string='    '

[BASIC]
good-names=i,j,k,ex,Run,_,id,pk

[DESIGN]
max-parents=10
max-attributes=10
